In [2]:
d = {'key1': 1, 'key2': 2, 'key3': 3, 'key3': 3}

In [3]:
d

{'key1': 1, 'key2': 2, 'key3': 3}

In [4]:
d['key4'] = 4

In [5]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [35]:
import random

In [2]:
for k in d:
    print(k)

key1
key2
key3

In [3]:
a = "hi"
print(len(a))

2

In [4]:
j, k = (1, 2)
print(j)
print(k)

1
2

In [5]:
print(type(j))

<class 'int'>

In [10]:
if 3 not in [1, 2]:
    print("k")

k

In [8]:
type("hik"[1])

str

In [13]:
l = [i for i in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
s = {i for i in l if i%2 == 0}

In [16]:
s

{0, 2, 4, 6, 8}

In [17]:
type(s)

set

In [23]:
s = {i*1 for i in l}
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
if 2 in s:
    print("l")

l

In [25]:
d

{'key1': 1, 'key2': 2, 'key3': 3}

In [29]:
set(d.keys())

{'key1', 'key2', 'key3'}

In [31]:
set(d.values())

{1, 2, 3}

In [32]:
for i in d:
    print(i)

key1
key2
key3

In [33]:
empty_set = set()
for i in empty_set:
    print(i)

In [34]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
print(random.choice(tuple(s)))

0

In [40]:
s[1]

TypeError: 'set' object is not subscriptable

In [46]:
li = [(x, y) for x in s for y in s if x != y and y != 5]

In [47]:
li

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 3),
 (2, 4),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 4),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 6),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 6),
 (8, 7),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 6),
 (9, 7),
 (9, 8)]

In [50]:
lo = [1, 2, 3]
while lo:
    print(lo[0])
    lo = lo[1:]

1
2
3

In [55]:
se = set()
if not se:
    print("i")

i

In [53]:
print(se)

set()

In [20]:
a, b = (1, 2)
print(a)
print(b)

1
2

In [9]:
c = set({1, 2})
print(c)

{1, 2}

In [10]:
for i in None:
    print(i)

TypeError: 'NoneType' object is not iterable

In [12]:
type(sorted({1, 2, 3}))

list

In [18]:
def even(x):
    return x%3

even(3)

0

In [23]:
sorted({1, 2, 3}, key=even)

[3, 1, 2]

In [24]:
a_list = ["aaa", "cc", "bb"]

new_list = sorted(a_list, key=lambda x: (len(x), x))

print(new_list)

['bb', 'cc', 'aaa']

In [25]:
a_list = ["aaa", "cc", "bb"]

new_list = sorted(a_list, key=lambda x: len(x))

print(new_list)

['cc', 'bb', 'aaa']